<div class="movie-panel">
    <div class="columns">
        <div class="column">
            <div class="columns is-multiline">
                <div *ngFor="let item of movies" class="column is-3 center-content">
                    <app-movie-card [movie]="item"></app-movie-card>
                </div>
            </div>
            <div class="columns">
                <div class="adjust-paginator">
                    <div class="column">

                        <ngb-pagination [(page)]="currentPage" [pageSize]="generalData?.results?.length"
                            [collectionSize]="generalData?.total_results" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>