<div class="movie-card" (click)="onClick(movie)">
    <div class="movie-info-overlay">
        <div class="text">
            <p class="movie-info-text">{{movie.title}}</p>
            <p *ngFor="let item of genresList" style="color: white;">{{item.name}}</p>
            <p *ngIf="genresList.length == 0" style="color: white;">Genre unavailable</p>
            <p style="color: white; font-weight: 500;">{{movie.release_date || 'Release date unavailable'}}</p>
        </div>
    </div>
    <div *ngIf="posterImage" class="movie-poster">
        <img [src]="posterImage" class="adjust-image" alt="Poster"/>
    </div>

    <div *ngIf="!posterImage" class="movie-poster">
        <div class="no-image">
            <div class="text">
                <p class="movie-info-text">{{movie.title}}</p>
                <p style="color: white;">{{movie.release_date || 'Release date unavailable'}}</p>
                <p style="color: white;">Image unavailable</p>
            </div>
        </div>
    </div>
</div>
