.movie-card {
  width: 250px;
  height: auto;
  background-color: red;
}

.movie-card:hover .movie-info-overlay {
    opacity: 0.95;
}

.movie-poster {
  width: 100%;
  height: 100%;
  display: flex;
}

.adjust-image {
  height: 25rem;
}

.movie-info-overlay {
  position: absolute;
  height: 25rem;
  width: 250px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #c2c2c2;
  cursor: pointer;
}

.text {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie-info-text {
    font-family: sans-serif;
    font-weight: 700;
}
